{
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": ["./*.js", "start.js", "./mock/**/*.*", "./config/**/*.*"] }
    ],
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "globals": {
    "WorkflowDocumentLoader": true,
    "__REDUX_DEVTOOLS_EXTENSION__": true,
    "ebpm": true
  }
}
